<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>zoomooz <small>by jaukia</small></h1>
            </div>

            <p>
                https://github.com/jaukia/zoomooz
            </p>
            <p>
                An easy-to-use jQuery plugin for making zooming web pages.
            </p>
            
        </div>
    </div>
</div>

<!--
{
"_id" : ObjectId("52c1d2b4157c9fcaf013f724"),
"createdAt" : ISODate("2010-05-07T14:31:23.000Z"),
"description" : "An easy-to-use jQuery plugin for making zooming web pages.",
"existsOnGithub" : true,
"forksCount" : 167,
"htmlUrl" : "https://github.com/jaukia/zoomooz",
"masterBranch" : "master",
"name" : "zoomooz",
"owner" : {
"avatarUrl" : "https://gravatar.com/avatar/a52d221ae708f36674644a348005633a?d=https%3A%2F%2Fidenticons.github.com%2Fe98cf158b7fd304819d3d560bd5ecd8f.png&r=x",
"login" : "jaukia"
},
"stargazersCount" : 1073,
"updatedAt" : ISODate("2014-01-07T18:51:08.000Z"),
"url" : "https://api.github.com/repos/jaukia/zoomooz"
}
-->