<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form name="search" ng-submit="onFormSubmit()" action="">
                <div class="input-group input-group-lg">
                    <input type="text" ng-model="query" class="form-control" placeholder="type query here">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" ng-class="{disabled: showSpinner}">Search</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <div class="checkbox">
                <label>
                    Search in package:
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked" ng-model="filter.byName"> Name
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked" ng-model="filter.byDescription"> Description
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked" ng-model="filter.byKeywords"> Keywords
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Important!
                    </h3>
                </div>
                <div class="panel-body">
                    <strong>Use * to make Your search results better! I.e.</strong> <br>
                    <ul>
                        <li>
                            <b>angular*</b> - search package starting with "angular" string
                        </li>
                        <li>
                            <b>*-ui</b> - search packages ending with "-ui" string
                        </li>
                        <li>
                            <b>*icon*</b> - search packages containing "icon" string
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div ng-if="eggs.length">

                <ul class="pager">
                    <li class="previous" ng-class="{disabled: currentPage <= 1}"><a href="" ng-click="onClickPagePrev()">&larr; Prev</a></li>
                    <li>test</li>
                    <li class="next" ng-class="{disabled: currentPage >= totalPages}"><a href="" ng-click="onClickPageNext()">Next &rarr;</a></li>
                </ul>

                <table class="table table-striped" id="searchResultsTable" ng-style="{opacity: (showSpinner ? 0.5 : 1)}">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th> - </th>
                            <th>Stars</th>
                            <th>Forks</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="egg in eggs">
                        <td>
                            <img ng-if="egg.owner.avatarUrl" ng-src="{{egg.owner.avatarUrl}}" style="width: 64px; height: 64px;">
                        </td>
                        <td>
                            {{egg.name}}
                        </td>
                        <td>
                            {{egg.description}}
                        </td>
                        <td>
                            <a href="{{egg.htmlUrl}}">{{egg.htmlUrl}}</a>
                        </td>
                        <td>
                            {{egg.stargazersCount}}
                        </td>
                        <td>
                            {{egg.forksCount}}
                        </td>
                    </tr>
                </table>

                <ul class="pager">
                    <li class="previous" ng-class="{disabled: currentPage <= 1}"><a href="" ng-click="onClickPagePrev()">&larr; Prev</a></li>
                    <li class="next" ng-class="{disabled: currentPage >= totalPages}"><a href="" ng-click="onClickPageNext()">Next &rarr;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>