<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <div class="checkbox">
                <label>
                    Search in package:
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked"> Name
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked"> Description
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked"> Keywords
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info">
                <strong>Use * to make Your search results better! I.e.</strong> <br>
                <ul>
                    <li>
                        <b>angular*</b> - search package starting with "angular" string
                    </li>
                    <li>
                        <b>*-ui</b> - search packages ending with "-ui" string
                    </li>
                    <li>
                        <b>*icon*</b> - search packages containing "icon" string
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="searchResultsTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th> - </th>
                        <th>Stars</th>
                        <th>Forks</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <img src="https://gravatar.com/avatar/f0d91e5cf8ad1ce7972cc486baa20c42?d=https%3A%2F%2Fidenticons.github.com%2Ff3377e1ac5fdd9183c13129960faedd7.png&r=x">
                    </td>
                    <td>
                        wrecking-slide
                    </td>
                    <td>
                        Wrecking Slide – A jQuery slider.
                    </td>
                    <td>
                        https://github.com/drublic/slider
                    </td>
                    <td>
                        11
                    </td>
                    <td>
                        2
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://gravatar.com/avatar/5572003a2d29e47e0d8084ac35ba3a42?d=https%3A%2F%2Fidenticons.github.com%2Fb587da25f0be5b669a8bc5d582f4b165.png&r=x">
                    </td>
                    <td>
                        wrecking-slide
                    </td>
                    <td>
                        Wrecking Slide – A jQuery slider.
                    </td>
                    <td>
                        https://github.com/drublic/slider
                    </td>
                    <td>
                        11
                    </td>
                    <td>
                        2
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>